@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.divProduit{
    margin-left: 90%;
    margin-top: 5%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
  }
  
  .prixProduit {
    position: relative;
    height: 3.25rem;
  }
  
  .containerProduit {
    box-sizing: content-box;
    position: relative;
    text-align: center;
  }
  
  .nomProduit {
      color: #1b272c;
      padding-top: .5rem;
      font-size: 1.25rem;
      letter-spacing: .25px;
      margin-bottom: 2px;
      text-transform: uppercase;
      font-weight: 400;
  }
  
  .descriptionProduit {
      width: 100%;
      overflow: hidden;
      height: 2.75rem;
  }

.container{
    display: flex;
}
.container .box{    
    display:flex;
    flex-direction: column;
    background-color: #4b4276;
    width: 200px;
    height: 100%;
    position: fixed;
}
.container .box .first-box ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
}
.container .box .first-box ul li:hover{
    background-color: #594f8d;
}
.container .box .first-box ul li:hover a{
    color: white;
}
.container .box .first-box ul li a{
    display: block;
    line-height: 45px;
    margin: 0 5px;
    color: #bdb8d7;
}
.container .box .title{
    height: 70px;
}
.container .box .title h2{
    color:white;
    text-align: center;
    margin: 40px;
}
.container .box .first-box .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
 
  .container .box .first-box .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.container .box .first-box .social_media a i{
      margin-top: 25%;
}
.container .box .first-box .social_media a:hover{
      background-color: #594f8d;
}
.container .full-page{
    margin-left: 200px;
}


@media (max-height: 400px){
    .social_media{
      display: none !important;
    }
  }
  @media (max-height: 700px){
    .container .box .first-box ul li a{
        line-height: initial;
    }
}